@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
  color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.756);
  -webkit-text-stroke: 0.375px rgba(21, 4, 4, 0.959);
  letter-spacing: 1rem;
}


@media screen and (max-width:580px) {
  .stroke {
    letter-spacing: 0.5rem;
  }
}